// Dynamic Background
$bg-black: #000000;
$bg-purple: #400080;
$bg-cyan: #1fcfc3;
$bg-lightblue: #1f91cf;
$bg-blue: #0800ff;
$bg-pink: #e32be3;
$bg-darkblue: #100ee2;
$bg-brown: #61293e;
$bg-lightgreen: #9dbe22;
$bg-darkgreen: #6f8f63;

// General Colors
$grey: gray;
