@import '../../scss/colors.scss';

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, $bg-black, $bg-purple);
  display: flex;
  flex-grow: 1;
  z-index: -1;

  div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
  }

  div:nth-child(1) {
    background: linear-gradient(132deg, $bg-cyan 0%, $bg-lightblue 100%);
    width: 30%;
    padding-top: 30%;
    left: 20%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
  }

  div:nth-child(2) {
    background: linear-gradient(132deg, $bg-blue 0%, $bg-pink 100%);
    width: 40%;
    padding-top: 40%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  div:nth-child(3) {
    background: linear-gradient(132deg, $bg-darkblue 0%, $bg-brown 100%);
    width: 92%;
    padding-top: 92%;
    left: 7%;
    top: 31%;
    transform: translateX(-50%) translateY(-50%);
  }

  div:nth-child(4) {
    background: linear-gradient(132deg, $bg-lightgreen 0%, $bg-darkgreen 100%);
    width: 93%;
    padding-top: 93%;
    left: 74%;
    top: 62%;
    transform: translateX(-50%) translateY(-50%);
  }
}
